<mat-card>
  <!-- <h1>Angular 5 FAQ Bot</h1>
  <h4>Let's learn about Angular!</h4> -->
  <ng-container *ngFor="let message of messages | async">
    <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
    'to':   message.sentBy === 'user' }">
      {{ message.content }}
    </div>
  </ng-container>
  <div class="chat">
        <input class="search" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="Let chat about angular">
    <button mat-raised-button class="searchButton" (click)="sendMessage()">Send</button>
    </div>
</mat-card>
